interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gamma-api.polymarket.com/markets/2336501
  response:
    body:
      string: '{"id":"2336501","question":"Roland Garros WTA: Hanyu Guo vs McCartney
        Kessler","conditionId":"0x0cc17a653f5360af728d558ad50c9d5f4e8ab6059087521b633162e9bc62c705","slug":"wta-guo-kessler-2026-05-25","resolutionSource":"https://www.wtatennis.com/scores","endDate":"2026-06-01T09:00:00Z","startDate":"2026-05-23T04:03:05.759006Z","image":"https://polymarket-upload.s3.us-east-2.amazonaws.com/wta-logo-41f331bdf1.png","icon":"https://polymarket-upload.s3.us-east-2.amazonaws.com/wta-logo-41f331bdf1.png","description":"This
        market refers to the tennis match between Hanyu Guo and McCartney Kessler
        in the Roland Garros WTA, originally scheduled for May 25, 2026 at 5:00AM
        ET.\n\nThis market will resolve to ''Hanyu Guo'' if Hanyu Guo advances against
        McCartney Kessler.\n\nThis market will resolve to ''McCartney Kessler'' if
        McCartney Kessler advances against Hanyu Guo.\n\nIf the match is canceled
        (not played at all), ends in a tie, or is delayed beyond 7 days from the scheduled
        date without a winner determined, this market will resolve to 50-50.\n\nIf
        the match begins but is not completed, and one player advances due to the
        opponent''s retirement, default, or disqualification, this market will resolve
        to the player who advances.\n\nIf the match ends in a walkover (player withdraws
        before the start and the other advances automatically), this market will resolve
        to 50-50.\n\nThe primary resolution source will be official information from
        the WTA Tour. A consensus of credible reporting may also be used.","outcomes":"[\"Hanyu
        Guo\", \"McCartney Kessler\"]","outcomePrices":"[\"0\", \"1\"]","volume":"429835.4779950002","active":true,"closed":true,"marketMakerAddress":"","createdAt":"2026-05-23T04:00:04.992135Z","updatedAt":"2026-05-26T03:06:23.959562Z","closedTime":"2026-05-25
        22:43:31+00","new":false,"featured":false,"submitted_by":"0xF43d55F3A8B7484Ed4B6931f93CB6F9eF5Dd369D","archived":false,"resolvedBy":"0x65070BE91477460D8A7AeEb94ef92fe056C2f2A7","restricted":true,"groupItemThreshold":"0","questionID":"0x0fb82386f592779531a4bdfa7775b3314486e5c0c58aa1423069624048780b6b","umaEndDate":"2026-05-25T22:43:31Z","enableOrderBook":true,"orderPriceMinTickSize":0.001,"orderMinSize":5,"umaResolutionStatus":"resolved","volumeNum":429835.4779950002,"endDateIso":"2026-06-01","startDateIso":"2026-05-23","hasReviewedDates":true,"volume24hr":429256.52272299945,"volume1wk":429835.4779949994,"volume1mo":429835.4779949994,"volume1yr":429835.4779949994,"gameStartTime":"2026-05-25
        17:50:00+00","secondsDelay":1,"clobTokenIds":"[\"114831485228107273851865276862636258406741330297877445445563732672958838679758\",
        \"30830649576740011413627242121522630163191861475126329933078369589864180883585\"]","umaBond":"500","umaReward":"2","volume24hrClob":429256.52272299945,"volume1wkClob":429835.4779949994,"volume1moClob":429835.4779949994,"volume1yrClob":429835.4779949994,"volumeClob":429835.4779950002,"makerBaseFee":1000,"takerBaseFee":1000,"customLiveness":0,"acceptingOrders":false,"negRisk":false,"negRiskRequestID":"","ready":false,"funded":false,"acceptingOrdersTimestamp":"2026-05-23T04:02:10Z","cyom":false,"pagerDutyNotificationEnabled":false,"approved":true,"rewardsMinSize":0,"rewardsMaxSpread":0,"spread":0.001,"automaticallyResolved":true,"oneDayPriceChange":-0.2895,"lastTradePrice":0.001,"bestAsk":0.001,"automaticallyActive":true,"clearBookOnStart":true,"manualActivation":false,"negRiskOther":false,"sportsMarketType":"moneyline","umaResolutionStatuses":"[\"proposed\"]","pendingDeployment":false,"deploying":false,"deployingTimestamp":"2026-05-23T04:00:25.539594Z","rfqEnabled":false,"holdingRewardsEnabled":false,"feesEnabled":true,"requiresTranslation":false,"feeType":"sports_fees_v2","feeSchedule":{"exponent":1,"rate":0.03,"takerOnly":true,"rebateRate":0.25}}

        '
    headers:
      Content-Type:
      - application/json
      last-modified:
      - Tue, 26 May 2026 03:13:41 GMT
    status:
      code: 200
      message: OK
version: 1
